@media only screen and (max-width:500px) {
    .container {
		margin: 20px auto;
		width: 90%;
		height: auto;
		background-color: white;
		box-shadow: 0 10px 50px #bdbdbd;
	}
	.container h1 {
		text-align: center;
		margin-top: 25px;
		font-size: 20px;
		line-height: 30px;
	}
	.container h2 {
		text-align: center;
		margin-top: 10px;
		font-size: 17px;
		color: #0091ea;
	}

	.info p {
		text-align: left;
		word-break: break-all;
		line-height: 20px;
		font-size: 13px;
		margin-top: 50px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.info a {
		text-decoration: underline;
		color: black;
	}
	.info a:hover {
		color: black;
	}

	hr{
		margin: 25px auto;
		width: 100%;
		opacity: 0.4;
	}

	.experience h1 {
		text-align: left;
		margin-left: 25px;
		font-size: 20px;
	}
	.experience h2 {
		text-align: left;
		margin-left: 25px;
		margin-top: 35px;
		font-size: 16px;
		color: #0091ea;
	}
	.experience strong {
		font-size: 14px;
		text-align: justify;
		margin-left: 25px;
		margin-right: 25px;
		color: black;
		border-bottom: 2px solid black;
	}
	.experience strong:hover {
		color: black;
	}
	.experience h3 {
		text-align: justify;
		line-height: 20px;
		font-weight: lighter;
		font-size: 14px;
		margin: 5px 25px auto 25px;
	}

	.education h1 {
		text-align: left;
		margin-left: 25px;
		font-size: 20px;
	}
	.education h2 {
		text-align: left;
		margin-left: 25px;
		margin-top: 35px;
		font-size: 16px;
		color: #0091ea;
	}
	.education strong {
		text-align: justify;
		margin-left: 25px;
		margin-right: 25px;
		font-size: 14px;
		color: black;
		border-bottom: 0px solid black;
		line-height: 25px
	}
	.education strong:hover {
		color: black;
	}
	.education h3 {
		text-align: justify;
		line-height: 20px;
		font-weight: lighter;
		font-size: 14px;
		margin: 5px 50px auto 50px;
	}

	.languages h1 {
		text-align: left;
		margin-left: 25px;
		font-size: 20px;
	}
	.languages strong {
		text-align: justify;
		color: black;
		border-bottom: 0px solid black;
		transition: all 0.3s ease;
		line-height: 25px
	}
	.languages p {
		text-align: justify;
		line-height: 20px;
		font-weight: lighter;
		font-size: 14px;
		margin: 5px 25px auto 25px;
	}

	.skills h1 {
		text-align: left;
		margin-left: 25px;
		font-size: 20px;
	}
	.skills strong {
		text-align: left;
		color: black;
		border-bottom: 0px solid black;
		line-height: 25px
	}
	.skills p {
		text-align: justify;
		line-height: 20px;
		font-weight: lighter;
		font-size: 15px;
		margin: 5px 25px 50px 25px;
	}
}